.msg__div {
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 10px;
}

.msg__div__user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.msg__div__user button {
    margin-left: 10px;

    background-color: unset;
    border: none;

    background: -webkit-linear-gradient(#FF0A89, #ED5B5B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
    font-weight: 700;
}

.msg__div__user button:hover {
    margin-left: 10px;

    background-color: unset;
    border: solid 1px #68ED9E;
    border-radius: 2px;

    background: -webkit-linear-gradient(#FF0A89, #ED5B5B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
    font-weight: 700;
}

.msg__div__status {
    color: #68ED9E;
    font-size: 10px;
    padding: 2px;
}

/* SEND */
.msgV__send {
    height: 45px;

    display: flex;
    flex-direction: row;
}

.msgV__send input {
    height: 21px;
    width: calc(100% - 65px);

    padding: 10px;

    outline: unset;
}

.msgV__send button {
    background-image: url('../img/LOGO.jpg');
    background-size: 100%;

    background-color: unset;

    border: 5px;

    height: 100%;
    width: 45px;
}

/* VIEW */
.msgV__view {
    height: calc(100% - 45px);
    padding: 10px 5px;

    overflow-y: auto;
}

.msgV__view hr {
    width: 90%;
}

.msg__view__msg {
    width: 100%;

    display: flex;
    flex-direction: row;

    padding-bottom: 10px;

    border-bottom: solid 1px gray;
}

.msg__view__msg__logo {
    width: 50px;

    display: flex;
    justify-content: center;
    /* align-items: center; */

    padding-top: 5px
}

.msg__view__msg__ {
    width: calc(100% - 50px);
}

.msg__view__msg__usname {
    font-weight: 700;
}

.msg__view__msg__usname:hover {
    background: -webkit-linear-gradient(#FF0A89, #ED5B5B);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

/* Scroll 4 */
#sc4::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  #sc4::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  #sc4::-webkit-scrollbar-thumb {
    background-color: #ED5B5B;
    background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);
    border-radius: 10px;
  }
  