.register {
    background-image: url("../img/background.png");

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.register__form {
    background-color: #17212B;

    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 0px 40px;

    border-radius: 10px;
}

    .register__form form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .register__form form label {
        font-weight: 700;
    }

    .register__form form input {
        background-color: #0E1621;

        height: 25px;
        width: 450px;

        color: white;

        border: solid black 1px;
        border-radius: 5px;

        padding: 10px;
        margin-bottom: 10px;
    }

    .register__form form input:focus {
        border: solid #58C5E5 1px;

        outline: none;
    }

    .register__form form button {
        background-color: #58C5E5;

        width: 474px;

        border: solid black 1px;
        border-radius: 5px;

        padding: 10px;
        margin: 10px 0px;

        color: white;
        font-weight: 700;
    }