.button {
    background-color: #2874A6;

    height: 80%;
    width: 80%;

    outline: none;

    border-radius: 50%;
    border: none;

    color: white;
    font-size: 35px;
    font-weight: 700;
}

.button__focus {
    background-color: aquamarine;

    height: 80%;
    width: 80%;

    outline: none;

    border-radius: 30%;
    border: none;

    color: white;
    font-size: 35px;
    font-weight: 700;
}