.__chat__msgView {
    display: flex;
    flex-direction: column;
}

.__chat__msgView__content {
    display: flex;
    flex-direction: row;
}

.__chat__bar {
    background-color: #2b5278;
    height: 48px;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0px 2px 2px #17202A;
    visibility: visible;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 8px;
}

.__chat__content {
    background-color: #2b5278;
    height: calc(100vh - 48px);
    width: calc(100vw - 312px); /* 250px */
}

.__chat__detail {
    display: flex;
    flex-direction: column;
    background-color: #0f1a29;
    height: calc(100vh - 48px);
    width: 250px;
}