html, body, #root {
    height: 100vh;
    width: 100vw;
}

.login {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("https://i.pinimg.com/originals/d7/2f/51/d72f51bd646468f4cb3a3275b1b1addf.jpg");
}

.login form {
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.login input, button {
    padding: 10px;
    width: 20vw;
    margin: 10px 0px;
    border-radius: 5px;
    border: 0px;
}

.login__ {
    height: 70vh;
    background-color: #2F3136;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    border-radius: 0px 10px 10px 0px;
}

.login__quote {
    background-color: #40444B;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}

.login__quote img {
    height: 35%;
    border-radius: 50px;
}

.login a {
    color: white;
}

#register {
    padding: 0px;
    width: 70px;
    background-color: unset;
    color: white;
}