.__callscreen {
	height: 100%;
	width:	100%;
	display: flex;
	text-align: center;
	flex-direction: column;

}
.__callscreen__avatar__container {
	height: 100%;
	width:	100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: -50px 0px 0px 0px;
}
.__callscreen__avatar {

    flex-direction: row;

}
.__callscreen__avatar img{

	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-style: solid;
	border-width: 5px;
	border-color: lime;
	background-color: #34495E;
    height: 100px;
    width: 100px;

}
.__callscreen__timer {

	margin: 0px 0px 0px 0px;	
}
.__callscreen__function{
	display: flex;
	flex-direction: row;
	
	margin: -50px 0px 0px 0px;
}
.__callscreen__function button{
	background-color: #34495E;
    outline: unset;
    border-radius: 50%;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px auto;
}
.__callscreen__function button:hover {
    background-color: #00FF00;
    border-radius: 25%;
}
#hangup:hover{
    background-color: #FF0000;
    border-radius: 25%;
}
#connect{
	margin: 50px 0px 0px 0px;
}