.__chat__groupView {
    width: 72px;
    background-color: #283747;
    display: flex;
    flex-direction: column;
    padding-top: 6px;
}

.__chat__groupView button {
    background-color: #34495E;
    outline: unset;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px auto;
}

.__chat__groupView button:hover {
    background-color: #884EA0;
    border-radius: 25%;
}

#createGroup:hover {
    background-color: #229954;
}

.__chat__groupView img {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__chat__groupView span {
    color: white;
    font-size: 25px;
    font-weight: 700;
}

hr {
    width: 32px;
    border-top: solid #2b5278;
    border-width: 2px 0px 0px 0px;
    border-radius: 20%;
    margin: 6px auto;
}